.ProDisImg img{
    height: 180px;
    padding: 10px;
}
.ProMain{
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
    margin: 5px 0;
    transition-duration: 500ms;
}
.ProMain h4{
    color: rgb(85, 85, 85);
}
.ProMain:hover{
    background-color: rgb(243, 243, 243);
    transform: scale(1.01);
    transition-duration: 300ms;
}